.modal {
  transform: translate(-50%, -50%);
}

.btn {
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.5rem;
  color: white;
  border-radius: 0.2rem;
  width: 30%;
}

.button_salvar {
  background-color: var(--primary-color-tema1);
}

.button_fechar {
  background-color: var(--secundary-color-tema1);
}

input {
  border: none;
}
input:active {
  border-top: none;
  border-left: none;
  border-right: none;
}

label {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}