.active-link {
  background-color: var(--gray-color-700)
}

.menu-user {
  display: none;
}

.menutopcolor {
  background-color: var(--gray-color-800, blue);
}

.menuSuperiorItem:hover {
  background-color: var(--gray-color-900);

}