@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color-tema1: #4240cf;
    --secundary-color-tema1: #137c2f;


    --gray-color-600: rgb(75 85 99);
    --gray-color-700: rgb(55 65 81);
    --gray-color-800: rgb(31 41 55);
    --gray-color-900: rgb(17 24 39);


    --color-list1: #ff0000;
    --color-list2: #ff8400;
    --color-list3: #ffb700;
    --color-list4: #ffb700;
    --color-list5: #d9ff00;
    --color-list6: #6aff00;
    --color-list7: #09ff00;
    --color-list8: #00ff91;
    --color-list9: #00ff91;
    --color-list10: #00aeff;
    --color-list11: #001eff;
    --color-list12: #6200ff;
    --color-list13: #6200ff;
    --color-list14: #6200ff;
    --color-list15: #ea00ff;
    --color-list16: #ff00ae;
    --color-list17: #ff00ae;
    --color-list18: #363636;
    --color-list19: #000000;
}
